.carrusel{
    margin: 0 auto;
    display: flex;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.459);
}


.carrusel h1 {
    font-size: 5em;}

#imagen {
    height: 75vh;
    background-size:cover;
    transition: 0.5s;
}

.botonCarrusel {
    border: none;
    z-index: 10;
    background: none;
}

#avanzar {
    left: 98%;
}

#retroceder {
    left: 2%;
}

@media (max-width: 600px) {
    #imagen {
        height: 100vh;
    }
  }