.carrusel{
    margin: 0 auto;
    display: flex;
}
#imagen {
    height: 75vh;
    background-size:cover;
    transition: 0.5s;
}

.botonCarrusel {
    border: none;
    z-index: 10;
    background: none;
}

#avanzar {
    left: 98%;
}

#retroceder {
    left: 2%;
}

@media (max-width: 600px) {
    #imagen {
        height: 100vh;
    }
  }