<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <!-- Primera card donantes  -->
    <div class="d-flex flex-column g-2">
        <div class="container-fluid d-flex justify-content-center mb-3">
            <div class="card col-12 col-lg-8 d-flex">
                <div class="row g-0">
                    <div class="col-md-4 d-flex justify-content-center">
                        <img class="img-fluid rounded-start" style="height: 12rem ;"
                            src="../static/img/donando_ancla.png" th:src="@{/img/donando_ancla.png}" alt="">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="card-title">Donaciones</h3>
                            <p class="card-text">Sabías que solo el 1.5% de la población argentina dona sangra? Esto
                                esta por debajo de lo recomendado que sería un 8 o 10%. Donar sangre salva vidas, te
                                invitamos a postularte como donante en nuestro sitio web para que las personas que
                                necesiten tu tipo de sangre puedan encontrarte</p>
                            <a th:href="@{/donantes}"><button class="btn btn-primary button_color">Ir a
                                    donantes</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Segunda card solicitantes -->
        <div class="container-fluid d-flex justify-content-center mb-3">
            <div class="card col-12 col-lg-8 d-flex">
                <div class="row g-0">
                    <div class="col-md-4 d-flex justify-content-center">
                        <img class="img-fluid rounded-start" style="height: 12rem ;"
                            src="../static/img/solicitaciones_ancla.png" th:src="@{/img/solicitaciones_ancla.png}"
                            alt="">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="card-title">Solicitantes</h3>
                            <p class="card-text">Como sociedad podemos ayudar al otro donando sangre, un proceso que no
                                es para nada complejo, muy requerido para personas que la necesitan pero que sabemos es
                                dificil de conseguir donantes, por esto te dejamos con una sección en nuestra página web
                                para que puedas subir una solicitud de donación con el objetivo de que donantes lo vean
                                y te den una mano!</p>
                            <a th:href="@{/}"><button class="btn btn-primary button_color">Ir a solicitudes</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Tercera card donantes -->
        <div class="container-fluid d-flex justify-content-center mb-3">
            <div class="card col-12 col-lg-8 d-flex">
                <div class="row g-0">
                    <div class="col-md-4 d-flex justify-content-center">
                        <img class="img-fluid rounded-start" style="height: 12rem ;"
                            src="../static/img/donantes_ancla.png" th:src="@{/img/donantes_ancla.png}" alt="">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3 class="card-title">Donantes</h3>
                            <p class="card-text">¿Ténes alguna inquietud o sugerencia? Te invitamos a que nos dejes tu
                                mensaje en la caja de comentarios ¡En la brevedad te vamos a estar respondiendo a tu
                                correo electrónico!</p>
                            <a th:href="@{#contacto}"><button class="btn btn-primary button_color">Ir a
                                    formulario</button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>