<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../static/css/nav.css" th:href="@{/css/nav.css}"> 
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"> 
</head>
<body>
  <header class="position-fixed" >
    <nav class="navbar-expand-lg navbar navbar-light">
      <div class="links container-fluid">
        <img id="logo" src="../static/img/LOGO.png" th:src="@{/img/LOGO.png}" alt="">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon icon-menu"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav" >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a href="/" class="nav-link">Inicio</a>
            </li>
            <li class="nav-item">
              <a href="/donaciones" class="nav-link">Donaciones</a>
            </li>
            <li class="nav-item">
              <a href="/construccion" class="nav-link">Solicitantes</a>
            </li>
            <li class="nav-item">
              <a th:href="@{/#contacto}" class="nav-link">Contacto</a>
            </li>
          </ul>
      </div>
      </div>
    </nav>
  </header>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="../static/js/nav.js" th:src="@{/js/nav.js}"></script>
</html>