<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="../static/css/cards.css" th:href="@{/css/cards.css}">
  <link rel="stylesheet" type="text/css" href="../static/css/nosotros.css" th:href="@{/css/nosotros.css}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
      <section class="wrapper">
      <div id="nosotros" class="flex-wrap" >
        <!-- Card Gabi -->
        <div class="profile-card js-profile-card perfil-card w-100 d-flex align-items-center  flex-column" >
          <div class="profile-card__img">
            <img src="../static/img/gabi.JPG" th:src="@{/img/gabi.jpg}" >
          </div>
      
          <div class="profile-card__cnt js-profile-cnt perfil-front">
            <div class="profile-card__name">Gabriel Velasco</div>
            <div class="profile-card__txt">Desarrollador Web Full Stack - HTML | CSS | JS | Bootstrap | Node.js | React | MongoDB</div>
            <div class="profile-card-loc"></div>
          </div>
          <div
              class="perfil-back position-absolute w-100 h-100 d-flex justify-content-center align-items-center flex-column">
              <div>
                <a href="https://github.com/Gabrielvelasco31" target="_blank"><i class="fa-brands fa-github"></i></a>
                <a href="https://www.linkedin.com/in/gabriel-ale-velasco/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
              </div>
            </div>
      
        </div>
        <!-- Card Leo -->
        <div class="profile-card js-profile-card perfil-card w-100 d-flex align-items-center  flex-column">
          <div class="profile-card__img">
            <img src="../static/img/leonel.JPG" th:src="@{/img/leonel.JPG}" alt=""> >
          </div>
      
          <div class="profile-card__cnt js-profile-cnt perfil-front">
            <div class="profile-card__name">Leonel Montiel</div>
            <div class="profile-card__txt">Desarrollador Web FullStack - HTML | CSS | JS | Bootstrap | SASS | Java | Spring | MySQL</div>
            <div class="profile-card-loc"></div>
          </div>
          <div
          class="perfil-back position-absolute w-100 h-100 d-flex justify-content-center align-items-center flex-column">
          <div>
            <a href="https://github.com/leonelmontiel" target="_blank"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.linkedin.com/in/leonel-montiel/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
          </div>
          </div>
        </div>

        <!-- Card Mati -->
        <div class="profile-card js-profile-card perfil-card w-100 d-flex align-items-center  flex-column">
          <div class="profile-card__img">
            <img src="../static/img/mati.jpg" th:src="@{/img/mati.jpg}" alt=""> >
          </div>
      
          <div class="profile-card__cnt js-profile-cnt perfil-front">
            <div class="profile-card__name">Matías Juarez</div>
            <div class="profile-card__txt">Desarrollador Web Full Stack - HTML | CSS | JS | Bootstrap | Node.js | React | MySQL | MongoDB</div>
            <div class="profile-card-loc">
            </div>
            </div>
            <div
              class="perfil-back position-absolute w-100 h-100 d-flex justify-content-center align-items-center flex-column">
              <div>
                <a href="https://github.com/JrzMatias" target="_blank"><i class="fa-brands fa-github"></i></a>
                <a href="https://www.linkedin.com/in/juarezmatias/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
              </div>
            </div>
          </div>
        <!-- Card Lucas -->
        <div class="profile-card js-profile-card perfil-card w-100 d-flex align-items-center  flex-column">
          <div class="profile-card__img">
            <img src="../static/img/lucas.jpg" th:src="@{/img/lucas.jpg}" alt=""> >
          </div>
      
          <div class="profile-card__cnt js-profile-cnt perfil-front">
            <div class="profile-card__name">Lucas Paz</div>
            <div class="profile-card__txt">Desarrollador Web Full Stack - HTML | CSS | JS | Bootstrap | SASS | Node.js | React | MySQL | MongoDB</div>
            <div class="profile-card-loc">
            </div>
            </div>
            <div
              class="perfil-back position-absolute w-100 h-100 d-flex justify-content-center align-items-center flex-column">
              <div>
                <a href="https://github.com/lucaspaz0108" target="_blank"><i class="fa-brands fa-github"></i></a>
                <a href="https://www.linkedin.com/in/lucas-paz-/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
              </div>
            </div>
          </div>
    </div>
  </section>
    <script src="../static/js/nosotros.js" th:src="@{/js/nosotros.js}"></script>
    <script src="https://kit.fontawesome.com/c926e0f0fa.js" crossorigin="anonymous"></script>
</body>
</html>