@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:wght@300;400;500;600;700;800&display=swap');

.footer {
  height: 30em !important;
}

.footer_link{
  display: block;
  list-style:none;
  text-decoration: none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
  font-family: 'Poppins', sans-serif !important;
  color: black !important;
}

.footer_container{
  background-image: url(../img/footer.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  /* background-color: #fbcdcf !important; */
}

.links_footer {
  display: flex;
  justify-content: center;
  list-style:none;
  text-decoration:none;

}
.li_style {
  text-decoration: none;
  list-style: none;
}

#logo_footer {
  height: 10rem;
  width: 10rem;
  justify-content: center;
  display: flex;
  margin-left: 30px;
}

.footer_link::after {
  content: "";
  position: absolute; 
  width: 0;
  height: 10px;
  border-radius: 5px;
  background-color: #D60015;
  bottom: 0;
  left: -5px;
   z-index: -1; 
  z-index: -1;
   z-index: -1; 
  z-index: -1;
   z-index: -1; 
  opacity: 0.2;
  transition: 0.3s;
} 

.footer_link:hover,
.footer_link.active {
  color: #D60015;
}

.footer_link:hover::after,
.footer_link.active::after {
  width: 100%;
  opacity: 0.4;
}

#p_footer{
  font-family: 'Poppins', sans-serif !important;
  text-align: center;
  margin-left: 50px ;
}
  