<link rel="stylesheet" type="text/css" href="../static/css/construccion.css" th:href="@{/css/construccion.css}">
<body class="vh-100" >
    <section class="d-flex justify-content-center" >
        <div class="card text-center col-12 col-lg-8 font construccion">
            <div class="card-body d-flex flex-column align-items-center">
            <img src="../static/img/construccion.svg" th:src="@{/img/construccion.svg}" class="image-fluid" alt="">
              <h1 class="card-title">Sección en construcción</h1>
              <h4 class="card-text">En breve tendremos lista esta página, mientras tanto podes seguir navegando en las otras secciones</h4>
            </div>
          </div>
    </section>

</body>